@model SisMedico.Domain.Entities.IPagedList

<li class="page-item @Model.ClassDisabledPrevious">
    <a class="page-link" asp-action="@Model.ReferenceAction" asp-route-pi="@Model.Primeiro" asp-route-ps="@Model.PageSize" asp-route-q="@Model.Query" asp-route-selectedValue="@Model.SelectedValue" tabindex="-1" aria-disabled="@Model.SemAnterior">Primeiro </a>
</li>
<li class="page-item @Model.ClassDisabledPrevious">
    <a class="page-link" asp-action="@Model.ReferenceAction" asp-route-pi="@Model.Anterior" asp-route-ps="@Model.PageSize" asp-route-q="@Model.Query" asp-route-selectedValue="@Model.SelectedValue" aria-disabled="@Model.SemAnterior"><< </a>
</li>