@{ 
	ViewData["Title"] = "Introduction";
	ViewData["PageName"] = "intel_introduction";
	ViewData["Heading"] = "<i class='fal fa-info-circle'></i> Introduction";
	ViewData["Category1"] = "Application Intel";
	ViewData["PageDescription"] = "A brief introduction to this WebApp";
}
@section HeadBlock {}
<div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
	<h3 class="mb-g">
        Olá a todos,
	</h3>
	<p>
        Há algum tempo, pedimos a opinião de vocês, fossem usuários experientes do SisMedico v6+ ou apenas curiosos, e UAU, como vocês responderam! Após ler cada uma de suas respostas na pesquisa, levamos cada elogio e crítica a sério para planejar nossos passos com o SisMedico v6+. Todo o feedback será utilizado para tornar seu tema favorito ainda melhor, mas estes foram alguns dos destaques.
	</p>
	<p>
        Impressionantes 72% de vocês disseram que estavam prontos para um design totalmente novo, enquanto o SisMedico v6+ é e continua sendo uma visão revolucionária do que deve ser um bom template baseado em Bootstrap, ter algo novo para olhar pode revitalizar qualquer um. E vamos ser honestos, quem não gosta de uma atualização moderna do seu tema favorito! Enquanto a maioria de vocês ainda está feliz com as variações atuais, cerca de 50% pediram suporte para vue.js. Com essa framework ganhando popularidade rapidamente, é certamente uma que merece ser incluída na família de frameworks! E, por último, mas certamente não menos importante, uma grande maioria esmagadora de 90% queria mais plugins e atualizações regulares.
	</p>
	<p>
        O SmartAdmin se esforça muito para garantir que plugins valiosos e populares sejam suportados da forma mais simples possível, sem a necessidade de modificações pesadas para estender a aparência e a sensação do seu template de administração favorito :) . E se o plugin estiver em alta demanda, não hesitaremos em dedicar horas para suportar a aparência e a sensação do SisMedico v6+.
	</p>
	<p>
        Mas como você pergunta? Bem, para tornar a próxima versão do SisMedico v6+ a melhor de todas e para reafirmar nosso compromisso de suporte contínuo e qualidade, escrevemos o tema do zero usando as práticas mais recentes do Bootstrap. Como resultado, estamos melhor preparados para suportar novas frameworks à medida que surgem e garantir que o suporte a plugins seja rápido e confiável. Além disso, nos unimos a alguns dos melhores desenvolvedores da comunidade para garantir que nossas variações personalizadas sejam de qualidade excepcional e sigam os princípios que levamos a sério no SisMedico v6+.
	</p>
	<p>
        Estamos realmente confiantes de que o SisMedico v6+ 4.0 trará de volta aquela experiência do primeiro tema, mantendo a familiaridade à qual vocês se acostumaram. É um tema completamente novo, mas com tudo o que você ama e mais um pouco. E para garantir que vocês, nossos clientes fiéis, tenham essa experiência em primeira mão, publicaremos a atualização HTML gratuitamente como uma atualização para a sua licença atual do SisMedico v6+!
	</p>
	<p>
        Por último, mas não menos importante, gostaríamos de agradecer a cada um de vocês, nossos clientes fiéis, pela paciência e apoio contínuo no SisMedico v6+. Sem vocês, isso não teria sido possível!
	</p>
	<p>
        Atenciosamente,<br>
	    Equipe do @Settings.App<br>
	</p>
</div>
<h3>
    Equipe @Settings.App
    <small class="mb-0">Construímos coisas legais...</small>
</h3>
<div class="d-flex flex-wrap demo demo-h-spacing mt-3 mb-3">
	<div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
		<img src="~/img/demo/authors/sunny.png" alt="Sunny A." class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
		<div class="ml-2 mr-3">
			<h5 class="m-0">
				Marcelo Neiva (UI/UX Expert)
				<small class="m-0 fw-300">
					Lead Author
				</small>
			</h5>
			<a href="https://twitter.com/@@myplaneticket" class="text-info fs-sm" target="_blank">@@myplaneticket</a> - 
			<a href="https://wrapbootstrap.com/user/myorange" class="text-info fs-sm" target="_blank" title="Contact Sunny"><i class="@(Settings.Theme.IconPrefix) fa-envelope"></i></a>
		</div>
	</div>
	<div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
		<img src="~/img/demo/authors/josh.png" alt="Jos K." class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
		<div class="ml-2 mr-3">
			<h5 class="m-0">
				Carlos A Santos (ASP.NET Developer)
				<small class="m-0 fw-300">
					Partner &amp; Contributor 
				</small>
			</h5>
			<a href="https://twitter.com/@@atlantez" class="text-info fs-sm" target="_blank">@@atlantez</a> - 
			<a href="https://wrapbootstrap.com/user/Walapa" class="text-info fs-sm" target="_blank" title="Contact Jos"><i class="@(Settings.Theme.IconPrefix) fa-envelope"></i></a>
		</div>
	</div>
	<div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
		<img src="~/img/demo/authors/jovanni.png" alt="Jovanni Lo" class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
		<div class="ml-2 mr-3">
			<h5 class="m-0">
				Jovanni L. (PHP Developer)
				<small class="m-0 fw-300">
					Partner &amp; Contributor 
				</small>
			</h5>
			<a href="https://twitter.com/@@lodev09" class="text-info fs-sm" target="_blank">@@lodev09</a> - 
			<a href="https://wrapbootstrap.com/user/lodev09" class="text-info fs-sm" target="_blank" title="Contact Jovanni"><i class="@(Settings.Theme.IconPrefix) fa-envelope"></i></a>
		</div>
	</div>
	<div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center flex-shrink-0">
		<img src="~/img/demo/authors/roberto.png" alt="Jovanni Lo" class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
		<div class="ml-2 mr-3">
			<h5 class="m-0">
				Roberto R. (Rails Developer)
				<small class="m-0 fw-300">
					Partner &amp; Contributor 
				</small>
			</h5>
			<a href="https://twitter.com/@@sildur" class="text-info fs-sm" target="_blank">@@sildur</a> - 
			<a href="https://wrapbootstrap.com/user/sildur" class="text-info fs-sm" target="_blank" title="Contact Roberto"><i class="@(Settings.Theme.IconPrefix) fa-envelope"></i></a>
		</div>
	</div>
</div>
<p class="fs-lg">
<a href="#" class="fw-500 fs-xl">> Ready to join our dedicated team?</a><br>
We are always on the lookout to expand and add unique app flavors to SmartAdmin. If you think you can contribute and create your very own flavors, get in touch with us or <a href="#" target="_blank">click here to learn more</a> about our partnership program.
</p>
@section ScriptsBlock {}
